<div id="bank_info_clause_popups" class="tomasky-ui-popups" style="display:none">
    <div class="ui-popups-dialog">
        <em class="close" data-dismiss="popups">X</em>
        <div class="ui-popups-head">
            <h3 class="ui-popups-title">番茄来了代收款协议</h3>
        </div>
        <div class="ui-popups-body" style="width:500px;">
        	<div class="explain">
                <h3>说明</h3>
                <p>1.须提供真实、有效且详细的收款账户，以确保结算资金的顺利流转。由账户信息错误，信息不实，信息不全导致的结算纠纷，由乙方负责，番茄来了不承担任何责任。</p>
               <p> 2.联系人或者联系方式若发生变更，请及时更新，否则导致的对账延误，番茄来了不承担责任。
                <h3>结算与账期</h3>
               <p> 1.番茄来了代收款的结款方式目前为周结。</p>
                <p>2.番茄来了将在每周五下午进行款项结算，结算内容为交易时间段为上次结算周期后至本周四晚24点期间的所有订单款项。</p>
               <p>3.2016年1月1日零时起至2016年12月31日，番茄代收零手续费！</p>
                4.结算日若遇到国家法定节假日或遇异常单无法处理，结算顺延至下一个结算日累计结算。
                <h3>其他</h3>
               <p> 1.为了确保资金的安全，番茄来了代收的款项，结算对象仅为客栈经营者，仅对客栈经营者负责，不会对任何其他用户进行转账支付行为。</p>
               <p> 2.番茄小站由客人发起的退款请求，番茄来了不予受理，由乙方自行联系客人处理，番茄来了可提供交易明细等方面的协助。</p>
                <p>3.所有代销结算以合同为准。</p>
                <p>4.成都番茄来了科技有限公司对本协议保留最终解释权。</p>
            </div>
        </div>
        <div class="ui-popups-foot">
            <button ms-if="editView.agreeClause" ms-click="agreeClause()" class="inn-btn-s">已同意</button>
            <button ms-if="!editView.agreeClause" ms-click="agreeClause()" class="inn-btn-s">我同意</button>
        </div>
    </div>
</div>