<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>活动</title>
    <link rel="shortcut icon" type="image/ico" href="http://assets.fanqiele.com/core/images/favicon.ico"/>
    <link rel="stylesheet" media="screen" href="http://assets.test.fanqiele.com/core/css/tomasky.core.all.css"/>
    <link rel="stylesheet" media="screen" href="lib/select2/select2.css"/>
    <!--[if lt IE 9]>
    <script src="lib/shim/es5-shim.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="header"></div>
<div id="content" class="content ms-controller activity" ms-controller="vm_activity"></div>
<input id="tomasky-boot-flag" name="tomasky-boot-flag" value="Activity" type="hidden">
<script type="text/javascript" src="http://assets.test.fanqiele.com/core/js/tomasky.core.all.js"></script>
<script type="text/javascript" src="lib/jQuery/jquery-ui.min.js"></script>
<script type="text/javascript" src="lib/lib.js"></script>
<script type="text/javascript" src="lib/select2/select2.js"></script>
<script src="boot.js"></script>
</body>
</html>

