<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积分商城</title>
    <link rel="shortcut icon" type="image/ico" href="http://assets.fanqiele.com/core/images/favicon.ico"/>
    <link rel="stylesheet" media="screen" href="http://assets.test.fanqiele.com/core/css/tomasky.core.all.css"/>

    <!--[if lt IE 9]>
    <script src="lib/shim/es5-shim.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="header"></div>
<div id="content" class="content ms-controller min-width" ms-controller="vm_integral"></div>

<input id="tomasky-boot-flag" name="tomasky-boot-flag" value="Integral" type="hidden">
<script type="text/javascript" src="http://assets.test.fanqiele.com/core/js/tomasky.core.all.js"></script>
<script type="text/javascript" src="lib/lib.js"></script>
<script type="text/javascript" src="lib/select2/select2.js"></script>
<script src="boot.js"></script>

</body>
</html>