<!-- 点击菜单 申请开通正式版账号 前的弹框-->
<div class="tomasky-ui-popups apply-success-popups" id="apply-success-popups">
    <!--<div class="tomasky-ui-popups-backdrop"></div>-->
    <div class="ui-popups-dialog apply-success-popups-content">
        <div class="successful-img"></div>
        <div class="btn-group">
            <button data-dismiss="popups" id="go-to-functions-plug" class="btn btn-success">好的，现在去配置功能</button>
            <br>
            <button data-dismiss="popups" class="btn btn-default">稍后去功能库配置</button>
        </div>
    </div>
</div>