<!-- 点击菜单 申请开通正式版账号 前的弹框-->
<div id="before_apply_popups" class="tomasky-ui-popups menu_apply_popups">
    <!--<div class="tomasky-ui-popups-backdrop"></div>-->
    <div class="ui-popups-dialog">
        <em class="close" data-dismiss="popups">X</em>

        <div class="ui-popups-head">
            <h3 class="ui-popups-title">消息提示</h3>
        </div>
        <div class="ui-popups-body">
            <h3 class="info-h3">您当前为试用账号</h3>
            <h4 class="info-h4">升级为完整账号后可使用该功能！</h4>
        </div>
        <div class="ui-popups-foot">
            <button class="btn btn-success btn-lg J_go-upgrade" data-dismiss="popups">免费升级</button>
            <span data-dismiss="popups" class="J_cancel-upgrade">暂不升级</span>
        </div>
    </div>
</div>
<div id="after_apply_popups" class="tomasky-ui-popups menu_apply_popups">
    <!--<div class="tomasky-ui-popups-backdrop"></div>-->
    <div class="ui-popups-dialog">
        <em class="close" data-dismiss="popups">X</em>

        <div class="ui-popups-head">
            <h3 class="ui-popups-title">消息提示</h3>
        </div>
        <div class="ui-popups-body">
            <h3 class="info-h3">正在申请中，请耐心等待...</h3>
            <h4 class="info-h4">番茄审核人员将在2天内来电为您开通</h4>
            <h4 class="info-h4">请保持电话畅通！</h4>
        </div>
        <div class="ui-popups-foot">
            <button class="btn btn-success btn-lg" data-dismiss="popups">好的</button>
        </div>
    </div>
</div>