.date-panel {
    display: inline-block;
    height: 100%;
    width: 76px;
    color: #fff;
    cursor: pointer;
}

.index-calendar {
    position: fixed;
    z-index: 100;
    top: 84px;
    left: 20px;
    border: 1px solid #d9d6c4;
    border-radius: 6px;
    color: #1f1f1f;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.date-panel-wrap {
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.filter-panel > i, .date-panel-wrap > i {
    position: relative;
    top: -1px;
    font-size: 12px;
    cursor: pointer;
}

/************************************** 日期表格  *****************************************/
.table-date-grid {
    display: table;
    color: #333333;
    text-align: center;
}

.table-date-grid li {
    display: table-cell;
    /*float:left;*/
    position: relative;
}

.table-date-grid li.hide {
    display: none;
}

.xy-room .room-cell-folder {
    position: relative;
    top: 0px;
}

.room-num-stat {
    cursor: pointer;
}

.table-date-grid .date-cell {
    width: 96px;
}

.table-date-grid .room-cell {
    width: 97px;
}

/*横版房间*/
.table-date-grid .room-cell > dt {
    display: table-caption;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    color: #858585;
    /*overflow: hidden;*/
    position: relative;
}

.table-date-grid .room-cell > dd {
    display: table-cell;
}

/*横版房间-end*/
.table-date-grid .date-cell {
    height: 56px;
    border-right: 1px solid #e8e8e8;
}

.table-room-grid .date-cell {
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
}

.date-cell {
    text-align: center;
    background-color: #f6f6f6;
}

.date-cell > dt {
    height: 30px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}

.xy-room .date-cell > dt {
    height: 26px;
    line-height: 34px;
}

.date-cell > dd {
    font-size: 13px;
}

.date-cell > dt > em {
    padding-left: 2px;
    font-weight: normal;
    font-style: normal;
}

.holiday > dt > b {
    color: #fff;
    padding: 1px 3px;
    background-color: #ff6000;
    font-weight: normal;
}

.weekend {
    color: #6aa100;
}

.today {
    color: #cc2525;
    background-color: #fff2f1;
}

/************************************** 房态格子  *****************************************/
.bg-room-gray {
    background-color: #f6f6f6;
}

.table-roomcell-grid {
    background: #fff;
}

.table-roomcell-grid td {
    position: relative;
    border-right: solid 1px #A8A8A8;
    border-bottom: solid 1px #A8A8A8;
}

.table-date-grid .week-line, .table-roomcell-grid .week-line {
    position: relative;
    border-right-color: transparent;
    top: 1px \0; /* ie8 向上提升一像素问题*/
}

.xy-room .table-room-grid .week-line, .xy-room .table-roomcell-grid .week-line {
    position: relative;
    border-right-color: #A8A8A8;
    border-bottom-color: transparent;
    top: 1px \0; /* ie8 向上提升一像素问题*/
}

.def-room .table-date-grid .week-line:before, .def-room .table-roomcell-grid .week-line:before {
    position: absolute;
    right: 0;
    display: block;
    content: " ";
    width: 1px;
    /*height: 100%;*/
    top: 0;
    top: -1px \0; /* ie8 向上提升一像素问题*/
    bottom: 0;
    background-color: #7c362e;
    z-index: 0;
}

.excel-room .table-date-grid .week-line:before, .excel-room .table-roomcell-grid .week-line:before {
    position: absolute;
    right: 0;
    display: block;
    content: " ";
    width: 1px;
    /*height: 100%;*/
    top: 0;
    top: -1px \0; /* ie8 向上提升一像素问题*/
    bottom: 0;
    background-color: #7c362e;
    z-index: 0;
}

.old-room .table-date-grid .week-line:before, .old-room .table-roomcell-grid .week-line:before {
    position: absolute;
    right: 0;
    display: block;
    content: " ";
    width: 1px;
    /*height: 100%;*/
    top: 0;
    top: -1px \0; /* ie8 向上提升一像素问题*/
    bottom: 0;
    background-color: #7c362e;
    z-index: 0;
}

.xy-room .table-room-grid .week-line:before, .xy-room .table-roomcell-grid .week-line:before {
    position: absolute;
    right: 0;
    display: block;
    content: " ";
    width: 101%;
    height: 1px;
    /* top: 0;
    top: -1px\0;ie8 向上提升一像素问题 */
    bottom: 0;
    background-color: #7c362e;
    z-index: 0;
}

/* .xy-room .table-room-grid .week-line,.xy-room .table-roomcell-grid .week-line {
	border-right-color: #A8A8A8;
	border-bottom-color: #EF1809;
} */
.table-roomcell-grid td > div {
    position: relative;
    width: 96px;
    height: 50px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.given-price {
    display: inline;
    position: absolute;
    right: 7px;
    top: 2px;
    color: #a5a5a5;
}

.given-price-td {
    /* ie8 向上提升一像素问题*/
    top: 1px \0;
}

.excel-room .table-roomcell-grid td > div {
    height: 28px;
}

/************************************** 房间格子  *****************************************/
.table-room-grid {
    width: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff;
}

.xy-room .room-cell {
    display: table;
}

.table-room-grid .room-cell {
    width: 100%;
}

.room-cell-left {
    display: table-cell;
    width: 50%;
    padding: 4px;
    vertical-align: middle;
    border-bottom: solid 1px #d9d9d9;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*overflow: hidden;*/
    word-break: break-all;
    cursor: pointer;
}

.room-cell-left > span {
    width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.room-cell-type {
    text-align: center;
    max-height: 39px;
    overflow: hidden;
}

.excel-room .room-cell-type {
    max-height: 20px;
}

.room-cell-right {
    display: table-cell;
    vertical-align: middle;
}

.room-num-section {
    position: relative;
    display: block;
    width: 60px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    word-wrap: break-word;
    border-left: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
}

.room-lap-item {
    position: relative;
    display: block;
    text-align: center;
    word-wrap: break-word;
    width: 110px !important;
}

.def-room .room-lap, .old-room .room-lap {
    height: 42px;
    line-height: 42px;
}

.excel-room .room-lap {
    height: 20px;
    line-height: 20px;
}

.room-num-section > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*.room-cell>dd>div {
	width: 96px;
	height: 26px;
	line-height: 26px;
	border-right: 1px solid #d0d0d0;
}*/
.xy-room .room-num-section {
    width: 96px;
    height: 24px;
    line-height: 24px;
    border-right: 1px solid #d0d0d0;
    border-left-width: 0;
    border-bottom-style: none;
}

.excel-room .room-num-section {
    height: 23px;
    line-height: 23px;
    height: 28px \0;
    line-height: 28px \0;
}

/*********************************  折叠  ********************************************************/
.fold-cell {
    text-align: center;
}

.fold-cell:after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.fold-cell > span {
    display: inline-block;
    vertical-align: middle;
}

/* 位置高亮 */
.markon {
    background-color: #ffd75f !important;
}

/*脏房*/
.tag-zang {
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 2px;
    top: 2px;
    background: url(../images/zang.png);
}

.clean-status {
    position: absolute;
    display: none;
    top: 0;
    right: -97px;
    width: 97px;
    height: 51px;
    z-index: 50;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    border: 4px solid #ffd75f;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.house-tooltip {
    max-width: 450px !important;
    position: absolute;
    left: 0;
    top: -900px;
    color: #555555;
    text-indent: 8px;
    font-size: 14px;
    padding: 10px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 10px #B8B8B8;
    /* hack ie */
    border: 1px solid #B8B8B8 \9;
    background-color: #fff \9;
}

.house-tooltip > .channel-name {
    font-size: 12px;
}

.house-tooltip > h4 {
    font-size: 16px;
    font-weight: bold;
}

.house-tooltip > .data-info em {
    color: #227C34;
    font-weight: bold;
}

.house-tooltip > .channel-name > .iconfont {
    margin-left: 4px;
    color: #7d7d7d;
    font-size: 14px;
}

.house-tooltip > .tip-line {
    min-width: 250px;
    width: 100%;
    margin: 6px 0;
    border-top: 1px solid #bebebe;
}

.house-tooltip .need-fee {
    margin-left: 20px;
}

.house-tooltip .order-tip-remind {
    word-break: break-all;
    word-wrap: break-word;
}

.ft-color-red {
    color: #cc2525;
}

.isFull {
    display: none !important;
}

.date-panel-wrap #date_range:hover{
    text-decoration: underline;
}

.open-calendar{
    /*display:none;*/
    height: 20px;
    line-height: 20px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    width: 85px!important;
    border-radius: 2px;
    font-size: 12px;
    z-index: 99;
    position: absolute;
    left: 85px;
    top: 2px;
    color: #000;
    text-align: center;
}
.off_openTishi,.on_openTishi{
    position: relative;
}
#date_grid dl{
    position: relative;
}
.xy_off_openTishi,.xy_on_openTishi{
    position: relative;
    overflow: auto;
}
