/**
 * 房态订单
 */
.order-item {
    position: relative;
    top: 1px;
    left: 8px;
    height: 48px;
    padding-left: 3px;
    border: 1px solid transparent;
    border-left-width: 0;
    z-index: 10;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.xy-room .order-item {
    width: 94px;
    top: 6px;
    left: 1px;
    padding-left: 0;
    text-indent: 4px;
    border-left-width: 1px;
    border-top-width: 0;
}

.excel-room .order-item {
    height: 26px;
    left: 1px;
}

.excel-room .on > .order-item {
    border: 2px solid #484848;
}

.booked {
    color: #174111;
    background-color: #cff397;
    border-color: #92d388;
}

.excel-room .booked, .excel-room .checkin, .excel-room .checkout {
    border-color: transparent;
}

.xy-room .on > .booked, .def-room .on > .booked {
    color: #174111;
    background-color: #8dc36f;
    border-color: #6fc531;
}

.checkin {
    color: #73100e;
    background: #facb6b;
    border-color: #ffaa30;
}

.xy-room .on > .checkin, .def-room .on > .checkin {
    color: #73100e;
    background: #ffa42a;
    border-color: #ffa42a;
}

.checkout {
    color: #373636;
    background: #d2d2d2;
    border-color: #c4c2c2;
}

.xy-room .on > .checkout, .def-room .on > .checkout {
    color: #373636;
    background: #929292;
    border-color: #909090;
}

/*渠道颜色*/
.order-item > b {
    display: block;
    position: absolute;
    top: -1px;
    left: -8px;
    width: 8px;
    height: 48px;
    content: " ";
    z-index: 20;
}

.xy-room .order-item > b {
    height: 6px;
    width: 94px;
    top: -6px;
    left: -1px;
}

/*客人名字*/
.order-item > h3 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.excel-room .order-item > h3 {
    position: relative;
    height: 26px;
    line-height: 26px;
    padding-left: 16px;
    padding-right: 14px;
    font-size: 12px;
}

.excel-room .order-item > h3 i {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 5px;
}

.excel-room .order-item > h3 i:nth-child(1) {
    right: 30px;
}

.excel-room .order-item > h3 i:nth-child(2), .excel-room .order-item > h3 i:nth-last-child(2) {
    right: 15px;
}

.excel-room .order-item > h3 i:nth-child(3) {
    right: 0;
}

.excel-room .order-item > h3 i:only-child, .excel-room .order-item > h3 i:last-child,
.excel-room .order-item > h3.single i:nth-child(1) {
    right: 0 !important;
}

.excel-room .order-item > h3.single i:nth-child(2), .excel-room .order-item > h3.single i:nth-child(3) {
    display: none;
}

.excel-room .bg-plane {
    background: url(../images/iconfont-plane.png?__inline) no-repeat center center;
}

.excel-room .bg-qiche {
    background: url(../images/iconfont-qiche.png?__inline) no-repeat center center;
}

.excel-room .bg-zhongyaoxiaoxi {
    background: url(../images/iconfont-zhongyaoxiaoxi.png?__inline) no-repeat center center;
}

.excel-room .bg-clock {
    background: url(../images/iconfont-clock.png?__inline) no-repeat center center;
}

.excel-room .bg-money {
    background: url(../images/bg-money.png?__inline) no-repeat center center;
}

.icon-xyz {
    background: url("../images/bg-xyz.png") no-repeat center;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

.def-room .icon-xyz {
    position: relative;
    top: -2px;
}

.icon-danbao {
    background: url("../images/bg-bao.png") no-repeat center;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

.def-room .icon-danbao {
    position: relative;
    top: -2px;
}

/*渠道名字*/
.order-item > p {
    line-height: 24px;
    height: 25px;
    font-weight: bold;
    word-break: break-all;
    overflow: hidden;
}

.order-item label {
    display: inline-block;
    overflow: hidden;
    float: left;
    padding-right: 3px;
}

.order-item > p > .iconfont {
    font-weight: normal;
    vertical-align: middle;
}

/* 图标*/
.order-item > p > .iconfont {
    font-size: 14px;
    position: relative;
    top: -1px;
    /*margin-left: 2px;*/
}

.booked > p > .iconfont {
    color: #4e8838;
    vertical-align: middle;
}

.on > .booked > p > .iconfont {
    color: #4A7926;
}

.checkin > p > .iconfont {
    color: #B65A00;
}

.on > .checkin > p > .iconfont {
    color: #B65A00;
}

.roomcell-list {
    position: absolute;
    top: -1px;
    left: -8px;
    width: 110%;
    border-collapse: separate;
    margin: 0;
    z-index: 30;
}

.xy-room .roomcell-list {
    top: -6px;
    left: -1px;
    width: 94px;
}

.excel-room .roomcell-list {
    height: 26px;
    left: -2px;
    top: -2px;
}

.roomcell-list > li {
    position: relative;
    display: inline-block;
    float: left;
    height: 48px;
    width: 95px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.xy-room .roomcell-list > li {
    display: block;
    height: 50px;
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: transparent;
}

.excel-room .roomcell-list > li {
    height: 26px;
}

.xy-room .on > .order-item > .roomcell-list > li {
    border-right-color: transparent;
    border-bottom-color: #fff;
}

.xy-room .on > .order-item > .roomcell-list > li:last-child {
    border-bottom-color: transparent;
}

.on > .order-item > .roomcell-list > li.off {
    background-color: #fff;
    border-right-color: #e8e8e8;
}

.xy-room .on > .order-item > .roomcell-list > li.off {
    border-color: #e8e8e8;
}

/*拖动图标*/
.checkin > .roomcell-list > li:first-child, .booked > .roomcell-list > li:first-child {
    cursor: move;
}

/*  渠道颜色 */
.c_hei {
    background-color: #2064c8;
}

.c_lan {
    background-color: #4B8DF8;
}

.c_lan2 {
    background-color: #2779a7;
}

.c_lan3 {
    background-color: #27b7cc;
}

.c_lv {
    background-color: #7fbb00;
}

.c_lv2 {
    background-color: #28b779;
}

.c_cheng {
    background-color: #ff6138;
}

.c_cheng2 {
    background-color: #db4a39;
}

.c_zi {
    background-color: #8e65d8;
}

.c_fen {
    background-color: #ea4c89;
}

.c-meitulv {
    background-color: #2bb8aa;
}

.c-tomato {
    background-color: #ff402a;
}

.c_tui {
    background-color: #CBCBCB;
}

.c_kafei {
    background-color: #9b5110;
}

.c_none {
    background-color: #9E9E9E;
}

/* 选中 锁房 */
.room-seleted:before {
    position: relative;
    display: block;
    left: 2px;
    top: 2px;
    content: " ";
    width: 92px;
    height: 46px;
    background-color: #DFDFDF;
    border-radius: 4px;
}

.excel-room .room-seleted:before {
    height: 24px;
}

.room-seleted:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -12px;
    height: 20px;
    width: 25px;
    color: #E0231C;
    text-align: center;
    font-family: "iconfont" !important;
    content: "\e62c";
    font-size: 22px;
    line-height: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.room-lock {
    text-align: center;
}

.room-lock:before {
    font-family: "iconfont" !important;
    content: "\e62b";
    color: #949494;
    font-size: 20px;
    line-height: 50px;
}

.excel-room .room-lock:before {
    line-height: 28px;
}

.excel-room .order-item {
    color: #fff;
}

.excel-room .order-item > em {
    position: absolute;
    left: 0;
    width: 16px;
    line-height: 26px;
    border-right: 1px solid #fff;
}

/************** 怀旧版本 ***************/
.order-guest {
    line-height: 20px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
}

.order-channel {
    text-align: center;
    height: 16px;
    line-height: 16px;
    font-family: '\5b8b\4f53';
    color: #fff;
    overflow: hidden;
}

.old-room .order-item {
    left: -1px;
    padding-left: 0;
    border: none;
}

.old-room .order-item:before {
    position: absolute;
    right: -1px;
    display: block;
    content: " ";
    width: 1px;
    height: 100%;
    background-color: #fff;
}

.old-room .roomcell-list {
    top: 0px;
    left: 0px;
}

.old-room .table-roomcell-grid td > div {
    width: 58px;
}

.old-room .roomcell-list > li {
    width: 57px;
}

.old-room .table-date-grid .date-cell {
    width: 58px;
}

.old-room .date-cell > dt {
    font-size: 13px;
}

.old-room .c_none {
    background-color: transparent;
}

.old-room .room-seleted:before {
    width: 54px;
}

.old-room .on > .booked {
    color: #174111;
    background-color: #8dc36f;
    border-color: #6fc531;
}

.old-room .on > .checkin {
    color: #73100e;
    background: #ffa42a;
    border-color: #ffa42a;
}

.old-room .on > .checkout {
    color: #373636;
    background: #909090;
    border-color: #909090;
}

.old-room .off > .order-channel {
    display: none;
}

.old-room .order-item i {
    position: absolute;
    bottom: 0;
    /* right: 2px; */
    line-height: 1;
    font-size: 14px;
    color: #7B6457;
}

.old-room .order-item i:nth-child(3) {
    left: 5px;
}

.old-room .order-item i:nth-child(4) {
    left: 23px;
}

.old-room .order-item i:nth-child(5) {
    left: 40px;
}