/*.activity {*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*background: #f5f5f5;*/
    /*padding-bottom: 50px;*/
/*}*/

.wh100 {
    width: 100%;
    height: 100%;
}

.activity .banner {
    width: 100%;
    background: #ffffff;
    height:400px;
    background: url(images/banner1.jpg) no-repeat center;
}

.activity .banner img {
    width: 1920px;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}

.ac-detail-bannerinfo .btn.cursor{
    cursor: pointer;
}

.sep-area {
    height: 60px;
    width: 100%;
    border-bottom: 1px #c5c5c5 solid;
    background: #ffffff
}

.ac-list, .ac-detail-page {
    width: 1060px;
    margin: 20px auto 0;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px #dfdfdf solid;
    box-shadow: 0px 2px 6px #dfdfdf;
    padding: 0 20px 20px 20px;
}

.ac-detail-page {
    padding-bottom: 40px;
}

.ac-list .ac-div {
    height: 108px;
    padding: 14px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px #dadada dashed;
}

.ac-list .ac-div:last-child {
    border: 0;
}

.ac-img {
    width: 124px;
    height: 80px;
    margin-right: 15px;
}

.ac-info {
    width: 586px;
    height: 80px;
    padding-right: 40px;
    position: relative;
    border-right: 1px #979797 dashed
}

.ac-info h3 {
    font-size: 16px;
    font-family: "微软雅黑";
    padding-bottom: 6px;
    padding-top: 3px;
    cursor: pointer;
}

.ac-info div {
    padding-bottom: 6px;
    color: #6b6b6b;
    background: url(images/ac-icon2.png) no-repeat left 1px;
    padding-left: 19px;
}

.ac-info p {
    height: 33px;
    overflow: hidden;
    width: 100%;
    color: #6b6b6b;
    background: url(images/ac-icon1.png) no-repeat left 1px;
    padding-left: 19px;
}

.ac-control {
    width: 231px;
    text-align: center;
    color: #6a6a6a;
    position: relative;
    margin-top: -4px;
    height: 82px;
}

.ac-control div {
    padding: 0px 0 5px 0;
}

.ac-control div span {
    vertical-align: baseline;
    font-size: 20px;
    display: inline-block;
    color: #d64541;
    padding: 0 2px;
    font-family: "Arial";
}

.ac-blue {
    color: #4a90e2;
    font-weight: 600;
}

.ac-btn-1 {
    border: 1px #d64541 solid;
    color: #d64541;
    width: 158px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    -webkit-border-radius: 4px;
    background: #ffffff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 23px;
}

.ac-btn-0 {
    border: 1px #d64541 solid;
    color: #ffffff;
    width: 158px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #d64541;
    border-radius: 4px;
    cursor: pointer;
}

.ac-over {
    color: #7e7e7e;
    line-height: 94px;
    font-size: 16px;
}

.ac-hot {
    display: inline-block;
    background: url(images/hot.png) no-repeat;
    width: 42px;
    height: 18px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-left: 4px
}

.ac-info div.detail {
    position: absolute;
    max-width: 230px;
    min-width: 100px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 7px #dddddd;
    left: 50%;
    top: -20px;
    padding: 10px;
    z-index: 10;
    display: none;
    margin-left: -125px;
}

.ac-control div.failReason {
    width: 170px;
    position: absolute;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 7px #dddddd;
    left: 50%;
    color: #747474;
    text-align: left;
    bottom: -41px;
    padding: 0 10px 10px 10px;
    z-index: 10;
    display: none;
    margin-left: -78px;
}

.sep-area span {
    display: inline-block;
    font-size: 14px;
    color: #343434;
    margin-right: 30px;
    height: 45px;
    padding: 0 10px;
    cursor: pointer;
    line-height: 45px;
    margin-top: 11px;
    border-bottom: 4px #ffffff solid;
}

.sep-area div {
    width: 1060px;
    margin: 0px auto;
}

.sep-area span.on {
    color: #d62b33;
    border-bottom: 4px #d62b33 solid;
}

.ac-detail, .ac-detail:hover {
    color: #4a90e2;
    text-decoration: underline;
    margin-left: 25px;
}

.ac-a, .ac-a:hover {
    color: #4a90e2;
    text-decoration: underline;
}

.ac-alert div.ac-dashed {
    height: 1px;
    width: 100%;
    border-bottom: 1px #b5b5b5 dashed;
    margin-bottom: 16px;
    padding-bottom: 0;
}

.ac-alert div.ac-solid {
    height: 1px;
    width: 100%;
    border-bottom: 1px #b5b5b5 solid;
    margin-bottom: 16px;
    padding-bottom: 0;
}

/*.ac-info p:hover~.detail{display: block}*/

.btnSure {
    width: 150px;
    height: 34px;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    background: #d8443c;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.btnSure:hover, .btnSure:active {
    color: #ffffff
}

.ac-alert {
    width: 340px;
    text-align: center
}

.ac-alert h2 {
    color: #d8443c;
    font-size: 16px;
    padding-bottom: 15px;
}

.ac-alert div {
    font-size: 12px;
    padding-bottom: 15px;
}

.ac-alert p {
    font-size: 12px;
    color: #7f7f7f;
    padding-bottom: 15px;
}

.activity .tomasky-ui-popups .ui-popups-foot {
    padding-bottom: 0
}
.activity #content{
    overflow-x: hidden;
}
.ac-alert3 {
    width: 214px;
    text-align: left;
    margin: 0 auto;
    line-height: 22px;
}

.ac-btn-2 {
    background: url("images/ac-icon4.png") no-repeat center left;
    padding-left: 25px;
    color: #6abc3e;
    display: inline-block;
    font-size: 16px;
    margin-top: 33px;
    margin-left: -25px;
}

.ac-btn-3 {
    background: url("images/ac-icon3.png") no-repeat center left;
    padding-left: 25px;
    color: #d64541;
    display: inline-block;
    font-size: 16px;
    margin-top: 33px;
    margin-left: -25px;
}

.ac-arrow {
    display: block;
    position: relative;
    top: -10px;
    left: 13px;
    width: 16px;
    height: 10px;
    background: url("images/ac-arrow.jpg") no-repeat;
}

/*详情*/
.ac-detail-page .ac-detail-banner {
    width: 100%;
    height: 320px;
    background: #d64541;
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}

.ac-detail-banner .ac-detail-bannerimg {
    width: 694px;
    height: 100%;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.ac-detail-banner .ac-detail-bannerinfo {
    width: 320px;
    height: 100%;
    text-align: center;
}

.l-prev {
    position: absolute;
    left: 12px;
    top: 50%;
    background: url(images/ac-left.png) no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 2;
    margin-top: -20px;
    cursor: pointer
}

.l-prev:hover {
    background: url(images/ac-left-on.png) no-repeat;
}

.l-next {
    position: absolute;
    right: 12px;
    top: 50%;
    background: url(images/ac-right.png) no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 2;
    margin-top: -20px;
    cursor: pointer
}

.ac-detail-bannerimg .d-next:hover {
    background: url(images/ac-right-on.png) no-repeat;
}

.ac-detail-bannerimg .banner {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ac-detail-bannerimg .banner span {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 166px;
    padding: 0 10px;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    left: 120px;
    font-size: 12px;
    color: #ffffff;
}
.defaultImg{width:100%;height: 100%; background: url("images/default.png") no-repeat center}
.ac-detail-bannerimg .banner span p {
    line-height: 18px;
}
.l-banner{width:100%;height:100%}
.ac-detail-bannerimg .banner span h5 {
    font-size: 14px;
    padding: 120px 0 10px 0
}

.ac-detail-bannerimg .banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.l-point {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.l-point span {
    cursor: pointer;
    display: inline-block;
    background: url(images/ac-point.png) no-repeat;
    width: 10px;
    height: 10px;
    margin: 0 4px;
}

.l-point span.on {
    background: url(images/ac-point-on.png) no-repeat;
}

.ac-detail-bannerinfo .text {
    margin-top: 112px;
}

.ac-detail-bannerinfo .btn {
    border: 1px #ffffff solid;
    text-align: center;
    width: 160px;
    height: 40px;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    background: #d64541;
    color: #ffffff;
    line-height: 40px;
    padding: 0;
    border-radius: 2px;
    cursor: default;
}

.ac-back {
    width: 64px;
    padding-left: 20px;
    background: url(images/ac-back.png) no-repeat center left;
    font-size: 12px;
    margin: 12px 0;
    cursor: pointer;
}

.ac-detail-info {
    width: 733px;
    margin: 10px auto;
}

.ac-detail-info h3 {
    font-size: 18px;
    color: #343434;
    margin-bottom: 30px;
}

.ac-detail-info label {
    font-size: 13px;
    color: #818080;
    vertical-align: sub;
}

.ac-detail-info p {
    vertical-align: top;
    color: #404040;
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    width: 663px;
}

.ac-detail-info div {
    margin-bottom: 9px;
}